<div class="package-card">
    <div class="package-card__title">
        <a href="/package/id">testssl</a>
    </div>
    <div class="package-card__description">
        testssl.sh is a free command line tool which checked a server's service to check any port...
    </div>
    <div class="pacakge-card__tags">
        <a class="ui tag label">#security</a>
        <a class="ui tag label">#ssl</a>
    </div>
    <div class="package-card__meta">
        - by wangxin
        <span class="column ten wide pull-right">
            <span><i class="fa fa-download"></i> 231</span>
            <span><i class="fa fa-star"></i> 12</span>
        </span>
    </div>
</div>