<html>
<head>
    <title>Cloudcli 脚本共享平台</title>
    <link rel="stylesheet" href="/static/vendor/semantic/semantic.css"/>
    <link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/style/components/antd.css"/>
    <link rel="stylesheet" href="/static/style/common.css"/>
    <link rel="stylesheet" href="/static/style/components/grid.css"/>
    <script src="/static/bower_components/jquery/dist/jquery.js"></script>
    <script src="/static/vendor/semantic/semantic.js"></script>
</head>
<body>
    {{ yield }}
    <footer>
        Copy Right 云霁科技有限公司  2017
    </footer>
</body>
</html>