.page-header {
    background: #FAFAFC;
    padding: 10px;
    line-height: 2.5rem;
    margin: 20px 0;
}


.script-editor {
    border: solid 1px #ddd;
    border-radius: 3px;
}
.script-editor__header {
    background: #F8F8F8;
    padding: 5px 10px;
    border-bottom: solid 1px #ddd;
}
.script-editor__header__input-file-name {
    border: solid 1px #ddd !important;
    padding: 6px !important;
    width: 150px !important;
}
.script-editor__content {
   // padding: 6px;
}