<h3> 修改提议 </h3>

<section class="proposals">
    <div class="proposals_header ui top attached header">
        <span class="meta">
            <b>1 Open</b>
            &nbsp;&nbsp;
            <span><i class="fa fa-check"></i> 10 Closed</span>
        </span>
        <span class="pull-right">
            <span class="dropdown">
                创建者&nbsp;&nbsp; <i class="fa fa-caret-down"></i>
            </span>
            &nbsp;&nbsp;
            <span class="dropdown">
                过滤 &nbsp;&nbsp;<i class="fa fa-caret-down"></i>
            </span>
        </span>
    </div>
    <div class="proposals_list ui attached table segment">
        <table class="ui very basic striped fixed table single line">
            <thead>
            <tr>
                <th class="four wide">提交者</th>
                <th class="nine wide message">描述</th>
                <th class="three wide right aligned">提交日期</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="author">

                    <img class="ui avatar image" src="https://secure.gravatar.com/avatar/d8b2871cdac01b57bbda23716cc03b96" alt="">&nbsp;&nbsp;<a href="/unknwon">Jeremy</a>

                </td>

                <td class="message collapsing has-emoji">
                    <span>删除无用的判断分支</span>
                </td>
                <td class="grey text right aligned"><span class="time-since poping up" title="" data-content="Wed, 01 Mar 2017 04:25:03 UTC" data-variation="inverted tiny">2 小时之前</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>