<link rel="stylesheet" href="/static/style/scripts-new-script.css"/>
<div class="page-new-script">
    <header>
        {{ render "partials/nav.html" }}
    </header>
    <div class="page-lg">
        <section class="page-header">
            <b>新建脚本</b>
            <button class="ant-btn ant-btn-primary pull-right">
                <i class="fa fa-check"></i>&nbsp; 提交
            </button>
        </section>
        <section class="page-main">
            <form id="new-script-form " class="ui form">
                <div class="field">
                    <label for="">选择目录：</label>
                    <select class="ui dropdown" placeholder="选择目录">
                        <option value="">公共目录</option>
                        <option value="1">目录1</option>
                        <option value="0">目录2</option>
                    </select>
                </div>
                <div class="field">
                    <label for="">审核人员：</label>
                    <div class="ui fluid selection dropdown">
                        <input type="hidden" name="user">
                        <i class="dropdown icon"></i>
                        <div class="default text">选择审核人员</div>
                        <div class="menu">
                            <div class="item" data-value="jenny">
                                <img class="ui mini avatar image" src="/static/assets/logo.png">
                                Jenny Hess
                            </div>
                            <div class="item" data-value="elliot">
                                <img class="ui mini avatar image" src="/static/assets/logo.png">
                                Elliot Fu
                            </div>
                            <div class="item" data-value="stevie">
                                <img class="ui mini avatar image" src="/static/assets/logo.png">
                                Stevie Feliciano
                            </div>
                            <div class="item" data-value="christian">
                                <img class="ui mini avatar image" src="/static/assets/logo.png">
                                Christian
                            </div>
                            <div class="item" data-value="matt">
                                <img class="ui mini avatar image" src="/static/assets/logo.png">
                                Matt
                            </div>
                            <div class="item" data-value="justen">
                                <img class="ui mini avatar image" src="/static/assets/logo.png">
                                Justen Kitsune
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>脚本描述：</label>
                    <textarea placeholder="脚本描述"></textarea>
                </div>

                <div class="field">
                    <label for="">脚本标签：</label>
                    <input id="Tags" type="text" class="tags" value="foo,bar,baz,roffle" />
                </div>
                <div class="field">
                    <label for="">脚本内容：</label>
                    <div class="script-editor">
                        <div class="script-editor__header">
                            <input class="script-editor__header__input-file-name" type="text" name="name" placeholder="请输入脚本名称">
                            <span class="pull-right">
                                <div class="ant-radio-group">
                                    <label class="ant-radio-button-wrapper ant-radio-button-wrapper-checked">
                                        <span class="ant-radio-button ant-radio-button-checked ant-radio-button-checked-1">
                                            <span class="ant-radio-button-inner"></span>
                                            <input type="radio" class="ant-radio-button-input" value="on">
                                        </span>
                                        <span>编辑视图</span>
                                    </label>
                                    <label class="ant-radio-button-wrapper">
                                        <span class="ant-radio-button">
                                            <span class="ant-radio-button-inner"></span>
                                            <input type="radio" class="ant-radio-button-input" value="on">
                                        </span>
                                        <span>安全监测视图</span>
                                    </label>
                                </div>
                            </span>
                        </div>
                        <div class="script-editor__content">

                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
<!--<script src="/static/vendor/vue/vue.js"></script>-->
<link rel="stylesheet" href="/static/vendor/tagsinput/style.css"/>
<script src="/static/vendor/tagsinput/index.js"></script>

<!-- code mirror -->
<link rel="stylesheet" href="/static/vendor/codemirror/lib/codemirror.css"/>
<script src="/static/vendor/codemirror/lib/codemirror.js"></script>
<script src="/static/vendor/codemirror/mode/shell/shell.js"></script>

<script>
$('.ui.dropdown').dropdown();
$('#Tags').tagsInput({
    width:'auto',
    onChange: function(elem, elem_tags) {
          var languages = ['php','ruby','javascript'];
          $('.tag', elem_tags).each(function() {
            if($(this).text().search(new RegExp('\\b(' + languages.join('|') + ')\\b')) >= 0)
              $(this).css('background-color', 'yellow');
          });
    }
});

var myCodeMirror = CodeMirror($(".script-editor__content")[0], {
  value: "function myScript(){return 100;}\n",
  mode:  "shell",
  lineNumbers: true
});

</script>